header
  .nav-img
  - 
    navbar = [
      {name: "Main Page", file: "/"}
    ]
  
  #myTopnav.topnav
    ul
      each elem in navbar
        li
          a(href=elem.file, title=elem.name)=elem.name
      a.icon(href="javascript:void(0);", onClick="navMobile()")
        i.fa.fa-bars