doctype html
html(lang='pl')
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(src='scripts/main.js')
    link(href='styles/main.css', rel='stylesheet')
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
    title Hero Trove

  body
    .content
      include header.pug
      if(message)
        include show_message.pug
      .row
        include section.pug
        .side
          if (logged)
            include panel.pug
          else
            include user.pug

      footer
        p
          | cool footer with lots of copyrights