doctype html
html(lang='pl')
  head
    title Hero Trove
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href='styles/main.css', rel='stylesheet')

  body
    .content
      include header.pug
      if(message)
        include show_message.pug
      .row
        include section.pug
        .side
          if (logged)
            include panel.pug
          else
            include user.pug

      footer
        p
          | cool footer with lots of copyrights