.main
  h1 All is Good
  p
    | dunno mate parampampam 
    br
    | kjsdhlkdsjhkl
    br 
    | lksdjhlkjsdh
    | lksdj;lhds
  h2 Whipfist
  p That's what they call me
  p I don't know why tho

  - my_var = {name: 'Jade', type: 'templating engine'}
  h3 #{my_var.name} is a #{my_var.type}