.sideTab#logTab.active(onClick='showLogin()') Login
.sideTab#regTab(onClick='showRegister()') Register
.logreg#register(style="display: none;")
  form(action = "/register", method = "POST")
    div.form-group
      label(for = "email") E-mail: 
      br
      input#email.form-control(name = "email", type="email", required placeholder="Enter your email")
    br
    div
      label(for = "password") Password: 
      br
      input#password.form-control(name = "password", required type="password")
    br
    .g-recaptcha(data-sitekey="6LfUrogUAAAAALZzMfLMFILz11S2Fy27uCIC1JSX", style="width: 304px; margin-left: auto; margin-right: auto;")
    br
    button(type = "submit") Create new user
.logreg#login
  form(action = "/login", method = "POST")
    div
      label(for = "email") E-mail: 
      br
      input(name = "email", type="email", required placeholder="Enter your email")
    br
    div
      label(for = "password") Password: 
      br
      input(name = "password", required type="password")
    br
    button(type = "submit") Login