extends layout

block content
  h1 Welcome to Hero Trove!
  p Hero Trove is a wiki-style stash for your tabletop RPG characters!
  p Just check it out!
  h2 How do I start?
  ul
    li First, create an account using you e-mail address. Don't worry, we won't spam you or send you anything else than password recovery link, if you'll ever need one.
    li Second, click "create character"
    li Fill out the fields however you want.
    li Click "save" et voilà!