* {
    box-sizing: border-box;
}
body {
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    position: sticky;
    top: 0;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
}

header li {
    float: left;
}

header li a {
    display: block;
    color: black;
    padding: 8px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover {
    background-color: #cccccc;
}

.content {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.nav-img {
    height: 300px;
    background-color: blanchedalmond;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
}

.registerError {
    padding: 5px;
    margin:1px;
    background-color: maroon;
    color: white;
    border-radius: 3px;
}

.registerPass {
    padding: 5px;
    margin:1px;
    background-color: dodgerblue;
    color: white;
    border-radius: 3px;
}

.row {  
    display: flex;
    flex-wrap: wrap;
}
.side {
    flex: 30%;
    background-color: #f1f1f1;
}

.sideTab {
    display: inline-block;
    padding: 8px;
    text-align: center;
    width: 50%;
    background-color: blanchedalmond;
    color: slategray;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sideTab:hover {
    background-color: rgb(255, 247, 235);
    color: black;
}

.sideTab.active {
    -moz-box-shadow:    inset 0 0 10px burlywood;
    -webkit-box-shadow: inset 0 0 10px burlywood;
    box-shadow:         inset 0 0 10px burlywood;
}

.logreg {
    padding: 30px;
    overflow: auto;
}

.logreg input {
    width: 100%;
}

.logreg button {
    float: right;
}

.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

footer {
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .content {
        width: auto;
    }
    header li a.icon {
      float: right;
      display: block;
    }
}

@media screen and (max-width: 600px) {
    header li:not(:first-child) {display: none;}
    .row {   
        flex-direction: column;
    }
}