html {
    box-sizing:border-box;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    overflow-x:hidden
}

*, *:before, *:after {
    box-sizing:inherit
}

body {
    background-color: whitesmoke;
    font-family: Noto Sans, Helvetica Neue, Segoe UI, Helvetica, Verdana, Arial, sans-serif;
    font-weight: 400;
    margin:0;
    line-height:1.5
}

header {
    position: sticky;
    top: 0;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
}

header li {
    float: left;
}

header li a {
    display: block;
    color: black;
    padding: 8px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover {
    background-color: #cccccc;
}

.content {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.nav-img {
    height: 300px;
    background-color: blanchedalmond;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
}

.registerError, .registerPass {
    padding: 5px;
    margin:1px;
    background-color: maroon;
    color: white;
    border-radius: 3px;
}

.registerPass {
    background-color: dodgerblue;
}

.row {  
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
    .content {
        width: auto;
    }
    header li:not(:first-child) {display: none;}
    header li a.icon {
      float: right;
      display: block;
    }
    .row {   
        flex-direction: column;
    }
}

.side {
    flex: 30%;
    background-color: #f1f1f1;
}

.sideTab {
    display: inline-block;
    padding: 8px;
    text-align: center;
    width: 50%;
    background-color: blanchedalmond;
    color: slategray;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sideTab:hover {
    background-color: rgb(255, 247, 235);
    color: black;
}

.sideTab.active {
    background-color: wheat
}
.sideTab.active:hover {
    background-color: #fcf5e8 /* wheat, 15% lighter */
}

.logreg {
    padding: 30px;
    overflow: auto;
}

.logreg input {
    width: 100%;
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 5px 32px;
}

.logreg button, .panel button {
    width: 100%;
    background-color: tan;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.logreg button:hover, .panel button:hover {
    background-color: burlywood;
}

.logreg button:active, .panel button:active {
    background-color: peru;
}

.panel {
    padding: 30px;
    padding-top: 10px;
    overflow: auto;
}

.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

footer {
    text-align: center;
}